html {
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Mono', monospace;
    line-height: 0.8;
    margin-bottom: 5%;
}

h1{
    font-size: 25pt;
}

h2{
    font-weight: 500;
    font-size: 16pt;
    color: rgb(0, 0, 0);
}

.container{
border-color: black;
border-style: solid;
border-width: 1pt;
width: 50%;
margin-top: 2%;
margin-left: 5%;
margin-right: 5%;
padding-left: 2rem;
padding-bottom: 1rem;
padding-top: 2rem;
}

p{
    text-indent: 1rem;

}
.texts{
    margin-top: 1%;
    width: 40%;
    margin-left: 5%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;    border-color: black;
border-style: solid;
border-width: 1pt;
}
mark {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 25pt;
  }

#og{
    font-weight:300;
    font-style: none;

  }
  #alt{
    font-weight:500;
  }

  #alt2{
    font-style:italic;
    font-weight:500;

  }

  #alt3{
    font-weight: 300;
    letter-spacing: .5em;
}
#alt35{
    font-weight: 300;
    letter-spacing: -0.2em;
}

#alt4{
    font-weight: 300;
    text-transform: uppercase;
}
#alt45{
    font-weight: 300;
    text-transform: lowercase;
}

#alt5{
    font-weight: 300;
    text-decoration:line-through;
}

