body {
    background-color: #fde2e4; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #e91e63; 
}

.lyrics {
    font-size: 1.2em;
    font-weight: bold; 
    margin: 20px;
    color:#ee485e
}

.chorus {
    font-size: 1.3em;
    color: #ff5722;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.lyrics-container {
    flex: 1;
    overflow-y: auto;
    max-height: 85vh; 
    padding-right: 20px;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
