#quotes {
    max-width: 610px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2e2e2e;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 10px 0;
}

.quote {
    font-style: italic;
}

body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#logo {
    margin-top: 30px;
    width: 300px;
}
